/* .poke-button {
  width: 100px;
  background-color: MediumAquamarine;
  border: none;
  box-shadow: 4px 3px;
  margin: 5px;
  } */

  body {
    font-family: 'Open Sans', sans-serif;
  }
ul {
    list-style-type: none;
}
.button-class {
  width: 150px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #78c5ef;
  color: black;
  border: 2px solid #2c528c;
}

#modal-container.is-visible {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 88;
  overflow: auto;
  top: 0;
  left: 0;
  display: grid;
  box-sizing: border-box;
}
.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background-color: #fff;
  padding: 12px;
  width: 100%;
  max-width: 500px;
  text-align: left;
  border-radius: 10px;
}
.modal-close {
  background-color: MediumAquamarine;
  border: none;
  box-shadow: 3px 3px;
  margin: 6px;
  float: right;
  cursor: pointer;
}

#modal-container {
  display: none;
}
.pokemon-modal {
  width: 150px;
  height: 150px;
  background-image: linear-gradient(#73C0C6, #C2EDFA);
  border: #000 solid 2px;
  border-radius: 5px;
  text-align: center;
}
